################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/tasks.vs.json
/.vs/slnx.sqlite
/.vs/ProjectSettings.json
/.vs/NeuralNetPort/v15/ipch/AutoPCH/937b0f25c319f458/ACTIVATIONFUNCTION.ipch
/.vs/NeuralNetPort/v15/ipch/AutoPCH/937b0f25c319f458
/.vs/NeuralNetPort/v15/ipch/AutoPCH/14447326cae7cf35/MAIN.ipch
/.vs/NeuralNetPort/v15/ipch/AutoPCH/14447326cae7cf35
/.vs/NeuralNetPort/v15/ipch/AutoPCH
/.vs/NeuralNetPort/v15/Browse.VC.opendb
/.vs/NeuralNetPort/v15/Browse.VC.db
/.vs/NeuralNetPort/v15/.suo
/.vs/NeuralNetPort/v15
/.vs/config/applicationhost.config
/.vs/config
/.vs
